.topbar
  .topbar-inner
    .container
      a.brand(href='#')= title
      ul#nav
        li.active: a(href='/') Home
        li: a(href='/about') About

.container.todos
  .offset4.span5
    script(type='text/html').
      {{view Todos.CreateTodoView id="new-todo" placeholder="What needs to be done?"}}

      {{#collection contentBinding="Todos.todosController" tagName="ul"
        itemClassBinding="content.isDone"}}
        {{view SC.Checkbox titleBinding="content.title"
          valueBinding="content.isDone"}}
      {{/collection}}

      {{#view Todos.StatsView id="stats"}}
        {{#view SC.Button classBinding="isActive"
          target="Todos.todosController"
          action="clearCompletedTodos"
          class="btn primary"
          }}
          Clear Completed Todos
        {{/view}}
        {{remainingString}} remaining
      {{/view}}
    